textarea {
  font-family: Consolas, serif;
  box-shadow: none !important;
  border: 1px solid black !important;
  height: 15vh !important;
}

label {
  color: black !important;
  font-family: Consolas, serif;
  font-weight: bold;
}

span {
  font-family: Consolas, serif;
}

span.key {
  color: #03AED2;
}
