div.row.input-row {
  margin: 1vh;
  border: #03AED2 2px solid;
  font-size: large;
}

div.head {
  border: #FDDE55 2px solid;
  background-color: #FDDE55;
  color: #03AED2;
  font-weight: 700;
  font-size: x-large;
  cursor: default;
}

button {
  font-size: xx-large;
}

a {
  color: #03AED2;
  text-decoration-color: white;
}

a:hover {
  text-decoration-color: #03AED2;
  transition: text-decoration-color .3s ease;
}
