tr.table-row:nth-child(even) {
  background-color: #68D2E8;
}

tr.table-row:nth-child(odd) {
  background-color: #cfebf1;
}

th, td {
  border-right: var(--bs-border-color) 1px solid;
}

th {
  text-align: center;
}

.cell {
  background-color: inherit;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button,
input[type=number] {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}


a {
  color: black;
  text-decoration-color: white;
}

a:hover {
  text-decoration-color: black;
  transition: text-decoration-color .3s ease;
}

button {
  font-size: x-large;
}

span {
  font-size: x-large;
}
