<div class="container mt-5">
  <div class="row pt-5">
    <div class="col p-5">
      <h1 class="text-center">Login To Database</h1>
      <form [formGroup]="loginForm">
        <div class="mb-3">
          <label for="usernameInput" class="form-label">Username</label>
          <input
            type="email"
            class="form-control"
            [class.is-invalid]="failedLogin"
            id="usernameInput"
            formControlName="username"
          >
          <div id="usernameHelp" class="form-text">Enter your personal database username.</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            [class.is-invalid]="failedLogin"
            id="password"
            formControlName="password"
          >
          <div class="invalid-feedback">
            Incorrect Username or Password!
          </div>
        </div>
        <button
          type="submit"
          class="btn btn-primary"
          style="width: 100%;"
          (click)="login()"
        >
          Login
        </button>
      </form>
    </div>
  </div>

</div>
